apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-logging
  namespace: kube-system
  annotations:
    volume.beta.kubernetes.io/storage-class: "slow"
spec:
  capacity:
    storage: {{ pv_logging_storage_size }}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  nfs:
    path: {{ pv_logging_nfs_dir }}
    server: {{ pv_logging_nfs_server_ip }}
