apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loggingclaim
  namespace: kube-system
  annotations:
    volume.beta.kubernetes.io/storage-class: "slow"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ pv_logging_storage_size }}
