{
    "name": "calico-k8s-network",
    "type": "calico",
    "etcd_endpoints": "{{ etcd_networking_cluster_ip_list }}",
    "etcd_cert_file": "{{ kubernetes_certificates_cert_path }}",
    "etcd_key_file": "{{ kubernetes_certificates_key_path }}",
    "etcd_ca_cert_file": "{{ kubernetes_certificates_ca_path }}",
    "kubernetes": {
      "kubeconfig": "{{ kubernetes_kubeconfig_path }}"
    },
    "ipam": {
      "type": "calico-ipam",
      "subnet": "usePodCidr"
    },
    "log_level": "info"
}
