{
    "name": "calico-k8s-network",
    "type": "calico",
    "etcd_endpoints": "{{ etcd_networking_cluster_ip_list }}",
    "etcd_cert_file": "{{ kubernetes_certificates_cert_path }}",
    "etcd_key_file": "{{ kubernetes_certificates_key_path }}",
    "etcd_ca_cert_file": "{{ kubernetes_certificates_ca_path }}",
    "hostname": "{{ inventory_hostname }}",
    "kubernetes": {
      "kubeconfig": "{{ kubernetes_kubeconfig_path }}"
    },
{% if enable_calico_policy is defined and enable_calico_policy|bool == true %}
    "policy": {
      "type": "k8s"
    },
{% endif %}
    "ipam": {
      "type": "calico-ipam"
    },
    "log_level": "info"
}
