[Unit]
Description=Calico per-node agent
Documentation=https://github.com/projectcalico/calico-docker
Requires=docker.service
After=docker.service

[Service]
User=root
Environment=INTERNAL_IP={{ internal_ipv4 }}
EnvironmentFile={{ network_environment_path }}
PermissionsStartOnly=true
ExecStart={{ bin_dir }}/calicoctl node --ip=${INTERNAL_IP} --detach=false
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
