[Unit]
Description=Calico per-node agent
Documentation=https://github.com/projectcalico/calico-docker
Requires=docker.service
After=docker.service

[Service]
User=root
Environment=DEFAULT_IPV4={{ internal_ipv4 }}
Environment=HOSTNAME={{ inventory_hostname }}
Environment=DOCKER_IMAGE={{ calico_node_img }}
ExecStart={{ bin_dir }}/calicoctl node run --name=${HOSTNAME} --ip=${DEFAULT_IPV4} --node-image=${DOCKER_IMAGE} --no-default-ippools --init-system
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
