# Calico Version v2.6.9
# https://docs.projectcalico.org/v2.6/releases#v2.6.9
# This manifest includes the following component versions:
#   calico/node:v2.6.9
#   calico/cni:v1.11.5
#   calico/kube-controllers:v1.0.4

# This ConfigMap is used to configure a self-hosted Calico installation.
kind: ConfigMap
apiVersion: v1
metadata:
  name: calico-config
  namespace: kube-system
data:
  # Configure this with the location of your etcd cluster.
  etcd_endpoints: "{{ etcd_networking_cluster_ip_list }}"

  # Configure the Calico backend to use.
  calico_backend: "bird"

  cni_network_config: |-
    {
        "name": "k8s-pod-network",
        "cniVersion": "0.1.0",
        "type": "calico",
        "etcd_endpoints": "__ETCD_ENDPOINTS__",
        "etcd_key_file": "{{ kubernetes_certificates.etcd_client_key }}",
        "etcd_cert_file": "{{ kubernetes_certificates.etcd_client }}",
        "etcd_ca_cert_file": "{{ kubernetes_certificates.ca }}",
        "log_level": "{{ cni.options.calico.log_level }}",
        "mtu": {{ cni.options.calico.workload_mtu }},
        "ipam": {
            "type": "calico-ipam"
        },
        "policy": {
            "type": "k8s",
            "k8s_api_root": "{{ kubernetes_master_ip }}",
            "k8s_auth_token": "__SERVICEACCOUNT_TOKEN__"
        },
        "kubernetes": {
            "kubeconfig": "__KUBECONFIG_FILEPATH__"
        }
    }

  # If you're using TLS enabled etcd uncomment the following.
  # You must also populate the Secret below with these files.
  etcd_ca: "{{ kubernetes_certificates.ca }}"
  etcd_cert: "{{ kubernetes_certificates.etcd_client }}"
  etcd_key: "{{ kubernetes_certificates.etcd_client_key }}"

---

# This manifest installs the calico/node container, as well
# as the Calico CNI plugins and network config on
# each master and worker node in a Kubernetes cluster.
kind: DaemonSet
apiVersion: extensions/v1beta1
metadata:
  name: calico-node
  namespace: kube-system
  labels:
    tier: control-plane
    component: calico-node
    k8s-app: calico-node
  annotations:
    kismatic/version: "{{ kismatic_short_version }}"
spec:
  selector:
    matchLabels:
      k8s-app: calico-node
  template:
    metadata:
      labels:
        k8s-app: calico-node
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ''
        prometheus.io/port: "9091"
        prometheus.io/scrape: "true"
    spec:
      hostNetwork: true
      serviceAccountName: calico-node
      # Minimize downtime during a rolling upgrade or deletion; tell Kubernetes to do a "force
      # deletion": https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods.
      terminationGracePeriodSeconds: 0
      tolerations:
        - effect: NoSchedule
          operator: Exists
      containers:
        # Runs calico/node container on each Kubernetes node.  This
        # container programs network policy and routes on each
        # host.
        - name: calico-node
          image: {{ images.calico_node }}
          imagePullPolicy: IfNotPresent
          env:
            # The location of the Calico etcd cluster.
            - name: ETCD_ENDPOINTS
              valueFrom:
                configMapKeyRef:
                  name: calico-config
                  key: etcd_endpoints
            # Choose the backend to use.
            - name: CALICO_NETWORKING_BACKEND
              valueFrom:
                configMapKeyRef:
                  name: calico-config
                  key: calico_backend
            # Cluster type to identify the deployment type
            - name: CLUSTER_TYPE
              value: "k8s,bgp"
            # Disable file logging so `kubectl logs` works.
            - name: CALICO_DISABLE_FILE_LOGGING
              value: "true"
            # Configure the IP Pool from which Pod IPs will be chosen.
            - name: CALICO_IPV4POOL_CIDR
              value: "{{ kubernetes_pods_cidr }}"
            - name: CALICO_IPV4POOL_IPIP
              value: {% if cni.options.calico.mode == 'overlay' %}"always"{% else %}"off"{% endif %}
            # Disable IPv6 on Kubernetes.
            - name: FELIX_IPV6SUPPORT
              value: "false"
            # Set Felix endpoint to host default action to ACCEPT.
            - name: FELIX_DEFAULTENDPOINTTOHOSTACTION
              value: ACCEPT
            - name: FELIX_LOGSEVERITYSCREEN
              value: "{{ cni.options.calico.log_level }}"
            # Set MTU for tunnel device used if ipip is enabled
            - name: FELIX_IPINIPMTU
              value: "{{ cni.options.calico.felix_input_mtu }}"
            # Set to enable the Prometheus metrics server in Felix.
            - name: FELIX_PROMETHEUSMETRICSENABLED
              value: "true"
            # Set to false to disable Go runtime metrics collection.
            - name: FELIX_PROMETHEUSGOMETRICSENABLED
              value: "false"
            # Set to false to disable process metrics collection, which the Prometheus client does by default.
            - name: FELIX_PROMETHEUSPROCESSMETRICSENABLED
              value: "false"
            # Reports anonymous Calico version number and cluster size to projectcalico.org. Logs warnings returned by the usage server.
            - name: FELIX_USAGEREPORTINGENABLED
              value: "false"
            # Location of the CA certificate for etcd.
            - name: ETCD_CA_CERT_FILE
              valueFrom:
                configMapKeyRef:
                  name: calico-config
                  key: etcd_ca
            # Location of the client key for etcd.
            - name: ETCD_KEY_FILE
              valueFrom:
                configMapKeyRef:
                  name: calico-config
                  key: etcd_key
            # Location of the client certificate for etcd.
            - name: ETCD_CERT_FILE
              valueFrom:
                configMapKeyRef:
                  name: calico-config
                  key: etcd_cert
            # Auto-detect the BGP IP address.
            - name: IP
              value: ""
            - name: IP_AUTODETECTION_METHOD
              value: "{{ cni.options.calico.ip_autodetection_method }}"
            - name: FELIX_HEALTHENABLED
              value: "true"
          securityContext:
            privileged: true
          resources:
            requests:
              cpu: 250m
          livenessProbe:
            httpGet:
              path: /liveness
              port: 9099
            periodSeconds: 10
            initialDelaySeconds: 10
            failureThreshold: 6
          readinessProbe:
            httpGet:
              path: /readiness
              port: 9099
            periodSeconds: 10
          volumeMounts:
            - mountPath: /lib/modules
              name: lib-modules
              readOnly: true
            - mountPath: /var/run/calico
              name: var-run-calico
              readOnly: false
            - mountPath: {{ kubernetes_certificates_dir }}
              name: etcd-certs
        # This container installs the Calico CNI binaries
        # and CNI network config file on each node.
        - name: install-cni
          image: {{ images.calico_cni }}
          imagePullPolicy: IfNotPresent
          command: ["/install-cni.sh"]
          env:
            # Use apprenda/cni-bin image for all plugins
            - name: SKIP_CNI_BINARIES
              value: "true"
            # The location of the Calico etcd cluster.
            - name: ETCD_ENDPOINTS
              valueFrom:
                configMapKeyRef:
                  name: calico-config
                  key: etcd_endpoints
            # The CNI network config to install on each node.
            - name: CNI_NETWORK_CONFIG
              valueFrom:
                configMapKeyRef:
                  name: calico-config
                  key: cni_network_config
          securityContext:
            privileged: true
          volumeMounts:
            - mountPath: /host/opt/cni/bin
              name: cni-bin-dir
            - mountPath: /host/etc/cni/net.d
              name: cni-net-dir
            - mountPath: {{ kubernetes_certificates_dir }}
              name: etcd-certs
      volumes:
        # Used by calico/node.
        - name: lib-modules
          hostPath:
            path: /lib/modules
        - name: var-run-calico
          hostPath:
            path: /var/run/calico
        # Used to install CNI.
        - name: cni-bin-dir
          hostPath:
            path: /opt/cni/bin
        - name: cni-net-dir
          hostPath:
            path: {{ network_plugin_dir }}
        # Mount in the etcd TLS secrets.
        - name: etcd-certs
          hostPath:
            path: {{ kubernetes_certificates_dir }}

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: calico-node
  namespace: kube-system
