DEFAULT_IPV4={{ internal_ipv4 }}
ETCD_ENDPOINTS={{ etcd_networking_cluster_ip_list }}
ETCD_CA_CERT_FILE={{ kubernetes_certificates_ca_path }}
ETCD_CERT_FILE={{ kubernetes_certificates_cert_path }}
ETCD_KEY_FILE={{ kubernetes_certificates_key_path }}
