[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
Environment=POD_CIDR={{ kubernetes_pods_cidr }}
Environment=CLUSTER_NAME={{ kubernetes_cluster_name }}
Environment=KUBECONFIG={{ kubernetes_kubeconfig_path }}
Environment=MASTER_IP={{ kubernetes_master_ip }}
Environment=CA_FILE={{ kubernetes_certificates_ca_path }}
Environment=KEY_FILE={{ kubernetes_certificates_key_path }}
Environment=SERVICES_CIDR={{ kubernetes_services_cidr }}
ExecStart={{ bin_dir }}/kube-controller-manager \
  --allocate-node-cidrs=true \
  --cluster-cidr=${POD_CIDR} \
  --cluster-name=${CLUSTER_NAME} \
  --kubeconfig=${KUBECONFIG} \
  --leader-elect=true \
  --master=${MASTER_IP} \
  --root-ca-file=${CA_FILE} \
  --service-account-private-key-file=${KEY_FILE} \
  --service-cluster-ip-range=${SERVICES_CIDR} \
  --v=2
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
