[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
Environment=INTERNAL_IP={{ internal_ipv4 }}
Environment=APISERVER_COUNT={{ kubernetes_master_apiserver_count }}
Environment=AUTHORIZATION_POLICY_FILE={{ kubernetes_authorization_policy_path }}
Environment=ETCD_SERVERS={{ etcd_k8s_cluster_ip_list }}
Environment=CA_FILE={{ kubernetes_certificates_ca_path }}
Environment=CERT_FILE={{ kubernetes_certificates_cert_path }}
Environment=KEY_FILE={{ kubernetes_certificates_key_path }}
Environment=SERVICE_ACCOUNT_CERT_FILE={{ kubernetes_certificates_service_account_cert_path }}
Environment=SERVICES_CIDR={{ kubernetes_services_cidr }}
Environment=BASIC_AUTH_FILE={{ kubernetes_basic_auth_path }}
ExecStart={{ bin_dir }}/kube-apiserver \
  --admission-control=NamespaceLifecycle,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota \
  --advertise-address=${INTERNAL_IP} \
  --allow-privileged=true \
  --apiserver-count=${APISERVER_COUNT} \
  --authorization-mode=ABAC \
  --authorization-policy-file=${AUTHORIZATION_POLICY_FILE} \
  --basic-auth-file=${BASIC_AUTH_FILE} \
  --bind-address=0.0.0.0 \
  --client-ca-file=${CA_FILE} \
  --enable-swagger-ui=true \
  --etcd-cafile=${CA_FILE} \
  --etcd-certfile=${CERT_FILE} \
  --etcd-keyfile=${KEY_FILE} \
  --etcd-servers=${ETCD_SERVERS} \
  --insecure-bind-address=127.0.0.1 \
  --kubelet-certificate-authority=${CA_FILE} \
  --service-account-key-file=${SERVICE_ACCOUNT_CERT_FILE} \
  --service-cluster-ip-range=${SERVICES_CIDR} \
  --tls-cert-file=${CERT_FILE} \
  --tls-private-key-file=${KEY_FILE} \
  --runtime-config=extensions/v1beta1=true,extensions/v1beta1/networkpolicies=true \
  --v=2
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
