[Unit]
Description=Kismatic Inspector
Documentation=https://github.com/apprenda/kismatic

[Service]
User=root
ExecStart={{ bin_dir }}/kismatic-inspector server --node-roles {{ group_names|join(",") }} --port 8888 {{ (allow_package_installation == 'true') | ternary('', '-e') }}

[Install]
WantedBy=multi-user.target
