[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
Environment=KUBECONFIG={{ kubernetes_kubeconfig_path }}
Environment=MASTER_IP={{ kubernetes_master_ip }}
ExecStart={{ bin_dir }}/kube-scheduler \
  --kubeconfig=${KUBECONFIG} \
  --leader-elect=true \
  --master=${MASTER_IP} \
  --v=2
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
