apiVersion: v1
kind: Config
clusters:
- name: {{ kubernetes_cluster_name }}
  cluster:
    certificate-authority: {{ kubernetes_certificates.ca }}
    server: "{{ kubernetes_master_ip }}" 
users:
- name: kubelet
  user:
    client-certificate: {{ kubernetes_certificates.kubelet }}
    client-key:  {{ kubernetes_certificates.kubelet_key }}
contexts:
- name: default
  context:
    cluster: {{ kubernetes_cluster_name }}
    user: kubelet
current-context: default
