[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
Environment=INTERNAL_IP={{ internal_ipv4 }}
Environment=CLUSTER_DNS={{ kubernetes_dns_service_ip }}
Environment=HOSTNAME={{ inventory_hostname }}
Environment=KUBECONFIG={{ kubernetes_kubeconfig_path }}
Environment=INFRA_IMG={{ pause_img }}
Environment=REGISTER_SCHEDULABLE={{ kubernetes_schedulable }}
Environment=CERT_FILE={{ kubernetes_certificates_cert_path }}
Environment=KEY_FILE={{ kubernetes_certificates_key_path }}
Environment=NETWORK_PLUGIN_DIR={{ network_plugin_dir }}
ExecStart=/usr/bin/kubelet \
  --allow-privileged=true \
  --cloud-provider= \
  --cluster-dns=${CLUSTER_DNS} \
  --cluster-domain=cluster.local \
  --container-runtime=docker \
  --docker=unix:///var/run/docker.sock \
  --hostname-override=${HOSTNAME} \
  --require-kubeconfig \
  --kubeconfig=${KUBECONFIG} \
  --node-ip=${INTERNAL_IP} \
  --pod-infra-container-image=${INFRA_IMG} \
  --register-schedulable=${REGISTER_SCHEDULABLE} \
  --serialize-image-pulls=false \
  --tls-cert-file=${CERT_FILE} \
  --tls-private-key-file=${KEY_FILE} \
  --network-plugin=cni \
  --network-plugin-dir=${NETWORK_PLUGIN_DIR} \
  --v=2
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
