[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Wants=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
  --allow-privileged=true \
  --cloud-provider={{ cloud_provider }} \
  --cloud-config={{ cloud_config }} \
  --cluster-dns={{ kubernetes_dns_service_ip }} \
  --cluster-domain=cluster.local \
  --container-runtime=docker \
{%   if cni.enabled|bool == true %}
  --cni-bin-dir=/opt/cni/bin \
  --cni-conf-dir={{ network_plugin_dir }} \
  --network-plugin=cni \
{%   endif %}
  --docker=unix:///var/run/docker.sock \
  --hostname-override={{ inventory_hostname }} \
  --require-kubeconfig=true \
  --kubeconfig={{ kubernetes_kubeconfig.kubelet }} \
  --node-ip={{ internal_ipv4 }} \
{% if inventory_hostname in groups['master'] %}
  --node-labels=node-role.kubernetes.io/master= \
{% endif %}
  --pod-infra-container-image={{ pause_img }} \
  --pod-manifest-path={{ kubelet_pod_manifests_dir }} \
  --register-schedulable={{ kubernetes_schedulable }} \
  --serialize-image-pulls=false \
  --tls-cert-file={{ kubernetes_certificates.kubelet}} \
  --tls-private-key-file={{ kubernetes_certificates.kubelet_key }} \
  --v=2
Restart=on-failure
RestartSec=3
WorkingDirectory=/root/

[Install]
WantedBy=multi-user.target
