apiVersion: v1
kind: Config
clusters:
- name: {{ kubernetes_cluster_name }}
  cluster:
    certificate-authority: {{ kubernetes_certificates_ca_path }}
    server: {{ kubernetes_master_ip }}
users:
- name: admin
  user:
    username: admin
    password: "{{ kubernetes_admin_password }}"
contexts:
- name: kubernetes
  context:
    cluster: {{ kubernetes_cluster_name }}
    user: admin
current-context: kubernetes
