apiVersion: v1
kind: Config
clusters:
- name: {{ kubernetes_cluster_name }}
  cluster:
    certificate-authority: {{ kubernetes_certificates.ca }}
    server: "{% if 'master' in group_names %}{{ local_kubernetes_master_ip }}{% else %}{{ kubernetes_master_ip }}{% endif %}" 
users:
- name: admin
  user:
    username: admin
    password: "{{ kubernetes_admin_password }}"
contexts:
- name: kubernetes
  context:
    cluster: {{ kubernetes_cluster_name }}
    user: admin
current-context: kubernetes
