[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd

[Service]
User=root
Type=notify
Environment=ETCD_NAME={{ inventory_hostname }}
Environment=ETCD_DATA_DIR={{ etcd_service_data_dir }}
Environment=CERT_FILE={{ etcd_certificates_cert_file }}
Environment=KEY_FILE={{ etcd_certificates_key_file }}
Environment=CA_FILE={{ etcd_certificates_ca_file }}
Environment=IP={{ internal_ipv4 }}
Environment=PEER_PORT={{ etcd_service_peer_port }}
Environment=CLIENT_PORT={{ etcd_service_client_port }}
Environment=ETCD_CLUSTER_TOKEN={{ etcd_service_cluster_token }}
Environment=CLUSTER_STRING={{ etcd_service_cluster_string }}
ExecStart={{ bin_dir }}/{{ etcd_install_bin_name }} \
  --name=${ETCD_NAME} \
  --data-dir=${ETCD_DATA_DIR} \
  --client-cert-auth \
  --cert-file=${CERT_FILE} \
  --key-file=${KEY_FILE} \
  --peer-client-cert-auth \
  --peer-cert-file=${CERT_FILE} \
  --peer-key-file=${KEY_FILE} \
  --trusted-ca-file=${CA_FILE} \
  --peer-trusted-ca-file=${CA_FILE} \
  --initial-advertise-peer-urls=https://${IP}:${PEER_PORT} \
  --listen-peer-urls=https://${IP}:${PEER_PORT} \
  --listen-client-urls=https://${IP}:${CLIENT_PORT},https://127.0.0.1:${CLIENT_PORT} \
  --advertise-client-urls=https://${IP}:${CLIENT_PORT} \
  --initial-cluster-token=${ETCD_CLUSTER_TOKEN} \
  --initial-cluster=${CLUSTER_STRING} \
  --initial-cluster-state=new
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
