---
  - hosts: master[0]
    any_errors_fatal: true
    name: "Configure Kubernetes Ingress"
    remote_user: root
    become_method: sudo
    run_once: true

    roles:
      - addon-kubernetes-ingress
