---
  - hosts: master[0]
    any_errors_fatal: true
    name: "Configure Calico Network Policy"
    remote_user: root
    become_method: sudo
    run_once: true

    roles:
      - addon-network-policy
