---
  - hosts: master:worker:ingress:storage
    any_errors_fatal: true
    name: "Deploy Cluster Certificates"
    remote_user: root
    become_method: sudo
    vars_files:
      - group_vars/all.yaml

    roles:
      - kubenode-cert
      - role: docker-registry-container-cert
        when: deploy_internal_docker_registry is defined and deploy_internal_docker_registry|bool == true
      - role: docker-registry-cert
        when: configure_docker_with_private_registry is defined and configure_docker_with_private_registry|bool == true
