---
  - hosts: worker
    any_errors_fatal: true
    name: "Install Kubernetes Kubelet on Worker Nodes"
    remote_user: root
    become_method: sudo
    vars_files:
      - group_vars/all.yaml
      - group_vars/kubelet-worker.yaml

    roles:
      - network-environment
      - kubeconfig
      - kubelet
