apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: monitoringclaim
  namespace: kube-system
  annotations:
    volume.beta.kubernetes.io/storage-class: "slow"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ pv_monitoring_storage_size }}
